project:
  type: website
  output-dir: docs

website:
  title: "Oregon Health"
  navbar:
    left:
      - href: "oregon-health.qmd"
        text: Oregon Health Analysis
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



